/* .about {
  height: 100vh;
  text-align: center;
  padding: 50px;
  background: #ff4081;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.aboutWrapper {
  width: 100%;
  height: 100vh;
}

.about {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .aboutdiv{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    /* background-color: yellow; */
  }
  
  .aboutContent {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    z-index: 12;
    /* margin-top: -50px;   */
  }

  .aboutContent h1 {
    color: white;
    font-size: 2.6rem;
  }
  
  .aboutContent p {
    font-size: 1.2rem;
    color: white;
  }

  .aboutdiv img {
    width: 100%;
    height: 100%;
  }

  .teamMembers {
    background-color: #8D5CF6;
    width: 100%;
    margin-top: 10vh;
    margin-bottom:0px;
  }
  
  .teamDescription{
    padding: 0 150px;
  }
  